
/*****第二页*****/
//
//
@mixin header  {};//头*
@mixin content {};//内容
@mixin footer {};//尾
@mixin nav {};//导航//
@mixin subnav {};//子导航//
@mixin tab {}//标签页//
@mixin sidebar {};//侧栏//
@mixin wrapper {};//页面外围控制整体布局宽度//
@mixin left-right-center {};//左右中//
@mixin logo {};//标志//
@mixin main {};//主体//
@mixin menu {};//菜单//


.page-2-nav {
    border-bottom-color: #fff !important;
}
@media (max-width:576px) {
    .page-2-nav {
        width: 100%;
        background-color: #1f7c55;
        border-bottom-color: rgba($color: #000000, $alpha: 0)!important;
    }
}
.subnav {
    >a:nth-child(1) {
        &:link {color:#000;}
        &:visited {color:#000;}
    }
    >a:nth-child(3) {
        color:#29b078;
    }
}

.sidebar {
    border-radius: 5px;
    background-color: #fff;
    >div:nth-child(1) {
        border-bottom: 1px solid #ff640c;
    }
}
/*侧边栏样式*/
.sidebar-bottom {
    padding-left: 20px;
    line-height: 50px;
    >ul {padding-left: 0;}
    >ul>li {
        width: 100px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        >a:hover {
        color:#ff640c;
        cursor: pointer;
        }
        >i{
        height: 8px;
        width: 8px;
        margin-right: 5px;
        border:1px;  
        border-radius:50%;
        border-style: solid;
        border-color: #ff640c;
        box-sizing: content-box;
        display: inline-block;
        }
        &:hover {
        background-color: #ff640c;
        }
    }
}

.main {
    border-radius:5px;
    background-color: #fff;
}
.mian-style {
    margin-left: -15px;
    margin-right: -15px;
    text-indent:30px;
    padding: 10px 70px 30px 70px;
}
.mian-top {
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    padding-bottom: 30px;
    >div:nth-child(1) {
        flex-grow: 0;
        text-indent:0;
        line-height: 0;
        margin-right: 15px;
    }
}
.mian-bottom {
    padding-bottom: 80px; 
    >p {
    margin-bottom: 30px;
    }
}
@media (max-width: 575.98px)
{
    .mian-top {
        flex-wrap: wrap;
        justify-content: center;
        >div {
            flex-basis: 100%;
        }
        >div:nth-child(1) {
            margin: 0 {
                top:20px;
                bottom: 20px;
            }

        }
        
    }
}



