 body{
    margin:0;
    background-color:#68cdd5;
    }
 .block1{
         margin:8px;
        }
 .block2{
         width:150px;
         margin-left:auto;
         margin-right:auto;
         margin-top:45px
       }
 .absolute1{
            position:absolute;
            top:180px;
            left:16%;
           }
 .block3{
         width:68%;
         height:150px;
        }
 .block4{
         width:76%;
        }
 .absolute2{
            position:absolute;
            top:400px;
            left:12%;
           }
 .block5{
         float:left;
         width:100px;
        }
 .block6{
         float:right;
         width:100px;
        }
 .p-margin{
          margin-top:2px;
        }
 .txt{
      color:#ffffff;
     }
 .align{
        text-align:justify;
       }
 .font{
       font-size:14px;
      }