.box {
    background-color: #29bde0;
}
.nav {

    border-bottom: 1px #74d4eb solid;
} 
.content {
    width: 70%;
    height: 60%;
    margin: 10% auto;
    background-color: #ffedc5;
}
button{
    width: 75%;
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    margin: 0 auto;
    background-color: #fbb435;

}
