/*****************/
body{
    background-color: #fff;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin: 0;
}
p{
    margin: 0;
}

/****************/
.width-max{
    width: 100%;
}
.width-1280{
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
}
/******************/
.display-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/*****************/

.float-l{
    float: left;
}
.float-r{
    float: right;
}














body{
    background-color: rgb(201, 181, 181);
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}


li { list-style:none; 
    margin: 0;


}
p{margin: 0;}/***/


.padding-left{padding-left:10px;}

.margin-left-auto{margin-left:auto;}

.margin-0{margin: 0;}



.line-height-40{
    line-height: 40px;
}

.text{color:#fff;}

.relative{ 
    position: relative;
}
.absolute{
    position: absolute;
}



.float-left{
    float: left;
    position: relative;
}
.float-right{
    float: right;
    position: relative;
}


.display-in{
    display:inline-block;
}
.display-b{
    display:block;
}

:hover{
    z-index: 999;
}

.nav-a>a:link{

}







:visited{}
:hover{}
:active{}
:focus{}



-moz-box-shadow:0 0 10px #dad2d2;
-webkit-box-shadow:0 0 10px #dad2d2;
box-shadow:0 0 10px #dad2d2; 

@media (max-width: 575.98px) { ... }
@media (min-width: 576px) and (max-width: 767.98px) { ... }
@media (min-width: 768px) and (max-width: 991.98px) { ... }
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
@media (min-width: 1200px) { ... }