html{
    font-size: 62.5%;
    max-width: 768px;
    min-width: 300px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 45rem;
    position: fixed;
    top: 0;

    background-color: #29bde0;
}