.avatar {
  width: 128px;
  height: 128px;
}

.upload-icon {
  font-size: 32px;
  color: #999;
}

.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.content {
  height: calc(100vh - 44px);
  padding: 50px;
  overflow: auto;
  box-sizing: border-box;
}

.content-main {
  padding-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.content-title {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.form {
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}

.form > div {
  padding: 10px;
}

.form > div > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.form > div > div:nth-child(1) > span {
  text-align-last: justify;
  width: 80px;
}

.form > div > div:last-of-type {
  display: block;
}

.form > div > div:last-of-type > button {
  margin: 0 10px;
}
