     html {
          font-size:10px;
         }
     body{
          margin:0;   
         }
     .position{
         position:relative;
         top:0;
         left:0;
               }
      .block0{
          width:128rem;
          height:100%;
          margin:0 auto;
          background-color:#eff0f4;
              }
  .block1{
      background-color:#5fc0cd;
      font:3.4rem/9rem"微软黑雅";
      text-align:center;
      height:9rem;
      width:100%;
  
      
     }
  .p1{
      display:inline-block;
      float:left;
      text-align:left;
      font:3rem/9rem"微软雅黑";
      margin:0 3rem;    

    }
  .p2{
      float:right;
      text-align: right;
      font:3rem/9rem"微软雅黑"; 
      margin:0 3rem;
  }
  .p3{
      display:inline-block;
      font:3.4rem/9rem"微软黑雅";
      height:9rem;
      width:10rem;
      
  }