
     body{
          margin:0;
             
         }
     .position{
         position:relative;
         top:0;
         left:0;
               }
      .block0{
          width:1280px;
          height:100%;
          margin:0 auto;
          background-color:#eff0f4;
              }
  .block1{
      background-color:#5fc0cd;
      font:1.7rem/4.5rem"微软黑雅";
      color:#ffffff;
      text-align:center;
      height:4.5rem;
      width:100%;
         }
  .p0{
      margin:0;
  }
  .p1{
      float:left;
      text-align:left;
      font:1.5rem/4.5rem"微软雅黑";
      margin:0 1.5rem;    

    }
  .p2{
      float:right;
      text-align: right;
      font:1.5rem/4.5rem"微软雅黑"; 
      margin:0 1.5rem;
  }
