body{
    margin:0;
}
     .position1{
       position:relative;
       top:0;
       left:0;
      }
     .position2{
        position:absolute;
        top:0px;
        left:0px;
      }
      .float1{
          float:left;
      }
      .float2{
          float:right;
      }
      .font1{
          font:30px/50px"微软雅黑";
      }
      .font2{
          font:34px/50px"微软黑雅";
      }
      text{
          text-align: center;
      }
  .block0{
      width:100%;
      height:100%;
      background-color:#eff0f4;
  }
  .block1{
      background-color:#5fc0cd;
      height:90px;
      width:100%
     }
  .div1{
      height:50px;
      width:100px;
      padding:20px 30px;
    }
  .div2{
      height:50px;
      width:100px;
      padding:20px 30px;
  }
  .div3{
      height:50px;
      width:100px;
      padding:20px 30px;
      margin:0 auto;
  }