
.ccc{
     width:100%;
     height:10rem;
     background-color:#5fc0cd;
     margin:7rem 0 0 0 ;
}
.ccb{ 
     width:12rem;
      height:8rem; 
      background-color:chartreuse;
      margin:0 auto;
      padding:1rem; 
}
.cca{
     font-size:4rem; 
     line-height:8rem; 
     margin:0;
     text-align:center;
}
.ccd{
     float:right;
     width:21rem;
     height:7rem;
     background-color:#5fc0cd; 
    }
    .txt{
         margin:0;
         font-size:3rem; 
         line-height:7rem;
         text-align:center;
        }