.box {
  text-align: center;
  background-color: #29bde0;
}

.nav {
  border-bottom: 1px #74d4eb solid;
}

.content {
  width: 70%;
  height: 60%;
  border: 6px #fbb435 solid;
  margin: 10% auto;
  color: #fbb435;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background-color: #ffedc5;
}

.content > div:nth-child(1) {
  line-height: 50px;
  width: 50px;
  border: 5px #fbb435 solid;
  border-radius: 50%;
  margin: -33px auto 0;
  background-color: #fff;
}

.content > div:nth-child(2) {
  width: 60%;
  margin: 30% auto 0;
}

.content > div:nth-child(3) {
  display: none;
  width: 60%;
  margin: 5% auto 0;
}

button {
  width: 76%;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  margin: 0 auto;
  background-color: #fbb435;
}
