

    body{
          margin:0; 
          background-color:#eff0f4;           
         }
     .position{
         position:relative;
         top:0;
         left:0;
               }
      .block0{
          width:100%;
          height:100%;
          margin:0 auto;
              }
  .block1{
      background-color:#5fc0cd;
      font:30px/90px"微软黑雅";
      color:#ffffff;
      text-align:center;
      height:90px;
      width:100%;
         }
  .p0{
      margin:0;
  }
  .p1{
      float:left;
      text-align:left;
      font:30px/90px"微软雅黑";
      margin:0 30px;    

    }
  .p2{
      float:right;
      text-align: right;
      font:30px/90px"微软雅黑"; 
      margin:0 30px;
  }
  .block2{
    width:100%;
    margin:16px 0 0 0;
    background-color:#ffffff;
    vertical-align: middle;   
}

.input3{
    border:none;
    outline:none;
    height:100px;
    width:58%;
    font:30px/100px "微软雅黑"; 
    padding:0  0  0 16px;   
}
.img1{
  background:url(img/iphone.png)
              no-repeat center;           
              width:100px;
              height:100px;
              margin:0; 
              display:inline-block;
              vertical-align:middle;             
              }
.img2{
  background:url(img/locked.png)
                 no-repeat center;
                 width:100px;
                 height:100px;
                 margin:0; 
                 display:inline-block;
                 vertical-align:middle;             
                 }
.div1{
    display:inline-block;
    height:60px;
    width:3px;
    margin:20px 0;
    background-color:#eaedee;
    vertical-align:middle;
}

.logon{
  -webkit-appearance:none;
  -moz-appearance:none;
   appearance:none;
   outline:0; 
   border:0;
   background-color:#5fc0cd;
   color:#ffffff;
   text-align:center; 
   letter-spacing:10px;
   font-size:40px; 
   line-height:100px;  
   width:100%;
   height:100px; 
   margin:70px 0  0 0;
}

 .txt{   
     -webkit-appearance:none;
     -moz-appearance:none;
      appearance:none;
      outline:0; 
      background-color:transparent;
      float:right;
      width:180px;
      height:70px;
      color:#5fc0cd;
      border:0;
      margin:0;
      font-size:30px; 
      line-height:70px;
      text-align:center;
     }
