
button{
    outline: none;
}

/*内容列表*/

.search-bar {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    //box-shadow: 0 0 1px #b4b4b4 
}

.date-picker {
    width: 100%;
}

.release, .deadline, .type, .state {
    margin-bottom: 15px;
    > div {
        display: inline-block;
    }
    > div:nth-child(1) {
        padding-top: 8px;
        padding-right: 10px;
        text-align: right;
        word-spacing: 28px;
    }
}

.deadline {
    > div:nth-child(1) {
        text-align: center;
    }
}

.submit {
    text-align: end;
    > div {
        display: inline-block;
        > button {
            color: #e0e0e0;
            padding:10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }
        > button:nth-child(1){
            margin-right: 15px;
            background-color: rgb(207, 57, 57);
        }
        > button:nth-child(2){
            
            background-color: rgba(39, 114, 30, 0.966);
        }
    }
}



// 修改日期选择框宽度
:host ::ng-deep .ant-calendar-picker  {
    width: 100%;
}















/*主体列表*/
.article {
    height: calc(100vh - 44px);
    overflow: auto;
    padding:30px;
    background-color: #f5f5f5;

}

.art-list-t {
    width: 100%;
    border-bottom: 1px #e0e0e0 solid;
}
.art-list-table>table {
    width: 100%;
    text-align: center;
}
.art-list-table>table>thead{
    border-bottom: 1px #e0e0e0 solid;
    background-color: #fff;
}
.art-list-table>table>thead th{
    padding: 15px 5px;
    font-weight: 700;
}
.art-list-table>table>tbody td{
    padding: 15px 5px;
}
.art-list-table>table>tbody tr{
    border-bottom: 1px #e0e0e0 solid;
}
.art-list-table>table>tbody tr:nth-child(even){
    background-color: #f5f5f5;
}





/*分页*/

.paging {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

}

.paging-center ,.paging-botton {
    > li {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px rgb(94, 182, 255) solid;
    border-radius: 5px;
    background-color: rgb(94, 182, 255);
    color: #fff;
    }
}



.paging-botton  {
    > li:nth-child(1) {
        padding: 3px;
    }    
    input {
        width: 40px;
        height: 30px;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        color: #666;
        text-align: center;
    } 
}


